body {
  background-color: lightyellow;
}

.monkeys {
  font-size: 1.5em;
}

.monkey {
  background-color: lightgreen;
  border-radius: 1em;
  padding: 0.5em;
  margin: 0.25em;
  width: 50%;
  box-shadow: .1em .1em darkgreen;
}

.button {
  border-radius: 50%;
  background-color: tan;
}

#monkey_name_input {
   box-shadow: .01em .01em green;
}