body {
  font-family: Helvetica;
  padding: 10px;
}

#main_container {
  width: 300px;
  margin: 0 auto 0 auto;
  background-color: lightpink;
}

.main_heading {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.post.title {
  font-size: 20px;
  font-weight: bold;
}
.post {
  margin: 10px;
  background-color: teal;
}

.post.new {
  padding: 10px;
}